* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

body {
  scrollbar-color: #fabf00;
  background-color: #f5f5f5;
  font-size: 1.6rem;
  margin: 0;
  padding: 0; }

/* Form */
.formulario {
  padding: 2rem; }

header {
  width: 100%;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 100;
  background: #fabf00;
  box-shadow: 1px 1px 10px 0px #fabf00; }

.container__header {
  max-width: 1650px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px; }

header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo img {
  width: 35px; }

.container__nav {
  position: relative;
  height: 100%; }

nav {
  height: 100%; }

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

nav ul li {
  margin: 0px 35px;
  list-style: none; }

nav ul li a {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 800;
  text-decoration: none; }

nav ul li a:hover {
  transform: scale(2);
  color: #ff0d6b; }

.boton {
  text-decoration: none;
  background: #ff0d6b;
  padding: 10px 30px;
  color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #444444; }

.boton:hover {
  box-shadow: 1px 1px 15px -5px #444444;
  color: #f5f5f5; }

.hero {
  width: 100%;
  padding-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px; }

.container__hero {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-image: url(../css/imagenes/fondoo.svg);
  background-size: cover;
  background-position: bottom; }

.hero .container__info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 400px;
  margin-top: 40px;
  z-index: 2; }

.hero h1 {
  margin-top: 70px;
  max-width: 600px;
  font-size: 60px;
  font-weight: 900;
  color: #444444;
  margin-left: 250px;
  width: 500px; }

.hero h2 {
  font-size: 60px;
  font-weight: 900px;
  color: #ff0d6b;
  margin-top: -20px;
  margin-left: 250px; }

.hero h3 {
  margin: 10px;
  margin-left: 250px;
  width: 300px;
  color: #444444; }

.container__imagen {
  position: relative; }

.container__imagen img {
  position: absolute;
  bottom: 10px;
  right: 250px;
  width: 400px;
  animation: move 6s ease-in-out infinite; }

@keyframes move {
  0% {
    transform: translate(10px); }
  25% {
    transform: translate(-10px); }
  100% {
    transform: translate(10px); } }

.container__section__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-image: url(../css/imagenes/fondoooo.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.container__section__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-image: url(../css/imagenes/fondooo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px; }

.container__texto {
  max-width: 650px;
  font-size: 16px;
  margin-right: 100px;
  margin-top: 150px; }

.container__texto__servicio {
  max-width: 650px;
  font-size: 16px;
  margin-right: 100px;
  margin-top: 50px; }

.container__titulo {
  margin-bottom: 15px;
  color: #ff0d6b;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 800; }

.container__titulo__servicio {
  margin-bottom: 15px;
  color: #fabf00;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 800; }

.container__carousel__1 {
  max-width: 500px;
  margin-left: 150px; }

.container__carousel {
  max-width: 650px; }

.links {
  margin-top: 30px; }

.links .boton__cv {
  text-decoration: none;
  background-color: #fabf00;
  padding: 10px 30px;
  color: #f5f5f5;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #444444;
  font-size: 16px;
  font-weight: 600; }

.links .boton__cv:hover {
  box-shadow: 1px 1px 15px -5px #444444;
  color: #f5f5f5;
  cursor: pointer; }

.links .boton__servicio {
  text-decoration: none;
  background-color: #ff0d6b;
  padding: 10px 30px;
  color: #f5f5f5;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #444444;
  font-size: 16px;
  font-weight: 600; }

.links .boton__servicio:hover {
  box-shadow: 1px 1px 15px -5px #444444;
  color: #f5f5f5;
  cursor: pointer; }

.hero__servicio {
  padding-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px; }

.container__hero__servicio {
  max-width: 1600px;
  margin: auto;
  padding: 20px; }

.hero__servicio .titulo__servicio {
  margin-top: 10px;
  max-width: 600px;
  font-size: 50px;
  font-weight: 900;
  color: #444444;
  margin-left: 150px; }

.hero__servicio .subtitulo__servicio {
  font-size: 30px;
  font-weight: 900px;
  color: #ff0d6b;
  margin-left: 150px;
  margin-top: 1px; }

.hero__servicio .parrafo__servicio {
  margin-left: 150px;
  width: 500px;
  color: #444444; }

.container__formulario {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  align-content: center; }

.container__formulario .mb-3 {
  color: #444444;
  font-size: 16px; }

.hero__proyectos {
  padding: 70px;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
  background-image: url(../css/imagenes/fondoooo.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.container__hero__proyectos {
  max-width: 1600px;
  margin: auto;
  padding: 20px; }

.hero__proyectos .titulo__proyectos {
  margin-top: 20px;
  max-width: 600px;
  font-size: 50px;
  font-weight: 900;
  color: #444444;
  margin-left: 150px; }

.hero__proyectos .subtitulo__proyectos {
  font-size: 30px;
  font-weight: 900px;
  color: #ff0d6b;
  margin-left: 150px;
  margin-top: 1px; }

.hero__proyectos .parrafo__proyectos {
  margin-left: 150px;
  width: 500px;
  color: #444444; }

.container__imagen__proyecto {
  margin-left: 80px;
  padding: 80px;
  margin-top: 100px; }

.container__imagen__proyecto .proyectos__imagen {
  width: 100%;
  height: 100%; }

.container__texto .frase__color {
  color: #ff0d6b; }

.container__section__3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-image: url(../css/imagenes/fondooo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px; }

.container__section__3 .container__texto__3 {
  max-width: 650px;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 150px; }

.container__texto__3 .frase__color {
  color: #ff0d6b; }

footer {
  width: 100%;
  padding: 0px 0px 25px 0px;
  background-size: cover;
  background-color: #fabf00;
  margin-bottom: 0%; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 0px; }

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px; }

.box__footer .logo img {
  width: 80px; }

.box__footer h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #444444;
  font-weight: 800;
  font-size: 16px; }

.box__footer a {
  margin-top: 2px;
  color: #444444;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none; }

.box__footer a:hover {
  color: #ff0d6b; }

.box__footer a .fab {
  font-size: 15px;
  margin-right: 5px; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.box__copyright p {
  margin-top: 20px;
  font-size: 12px;
  color: #444444; }

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #f5f5f5; }
