.hero__proyectos {
  padding: 70px;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
  background-image: url(../css/imagenes/fondoooo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__hero__proyectos {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

.hero__proyectos .titulo__proyectos {
  margin-top: 20px;
  max-width: 600px;
  font-size: 50px;
  font-weight: 900;
  color: $negro;
  margin-left: 150px;
}

.hero__proyectos .subtitulo__proyectos {
  font-size: 30px;
  font-weight: 900px;
  color: $magenta;
  margin-left: 150px;
  margin-top: 1px;
}

.hero__proyectos .parrafo__proyectos {
  margin-left: 150px;
  width: 500px;
  color: $negro;
}

.container__imagen__proyecto {
  margin-left: 80px;
  padding: 80px;
  margin-top: 100px;
}

.container__imagen__proyecto .proyectos__imagen {
  width: 100%;
  height: 100%;
}

.container__texto .frase__color {
  color: $magenta;
}

.container__section__3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-image: url(../css/imagenes/fondooo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
}

.container__section__3 .container__texto__3 {
  max-width: 650px;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 150px;
}

.container__texto__3 .frase__color {
  color: $magenta;
}

.container__section__4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-image: url(../css/imagenes/fondoo.svg);
  rotate: 180;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
}
